* {
    /* outline: 1px solid red; */
}

body {
    font-family: 'Open Sans', sans-serif;
    background: no-repeat url('../img/car.jpg'); /* яркая картинка, для фона временно */
    background-size: cover;
}

.modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(28, 24, 25, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 24px;
    position: relative;
    padding: 56px;
    background-color: #fff;
    border-radius: 16px;
}

.mainPhotoImg {
    display: block;
    margin-bottom: 16px;
}

.otherPhotos {
    display: flex;
    max-width: 330px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.otherPhotos img {
    border-radius: 8px;
    cursor: pointer;
}

.otherPhotos img:hover {
    outline: 1px solid rgba(42, 129, 221, 0.5);
    filter: brightness(130%);
}

.imgActive {
    outline: 1px solid rgba(42, 129, 221, 1);
    pointer-events: none;
}

.closeModal {
    padding: 0;
    position: absolute;
    background-color: #fff;
    border: none;
    right: 24px;
    top: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.closeModal:hover {
    filter: brightness(120%);
}

.closeModal img {
    display: block;
}

.orderInfo {
    width: 573px;
}

.productName {
    margin: 8px 0 8px;
    font-size: 20px;
    line-height: 32px;
}

.price {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    margin-bottom: 8px;
}

.orderBtn {
    width: 134px;
    height: 36px;
    text-align: center;
    vertical-align: center;
    background-color: #2a81dd;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.balance {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.yourBalance {
    display: flex;
    padding: 16px 16px 8px;
    gap: 24px;
    padding-top: 14px;
    align-items: center;
    background-color: #f0fafd;
}

.yourBalanceText {
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: #888b94;
    margin-bottom: 8px;
    border-radius: 16px;
}

.yourBalanceQuantity {
    color: #1c1819;
    font-weight: 400;
}

.colorTitle {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 8px;
}

.colorList,
.sizeList {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.colorList input,
.sizeList input {
    display: none;
}

.colorList label {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 12px 8px 8px;
    color: #2a81dd;
    cursor: pointer;
    border-radius: 8px;
    outline: 1px solid rgba(28, 24, 25, 0.1);
    position: relative;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
}

.colorsItem:checked + .colorsBlue {
    background-color: #d6ecfb;
    outline: 1px solid #d6ecfb;
    color: #1c1819;
}

.colorsItem:checked + .colorsBeige {
    background-color: #dfd8c8;
    outline: 1px solid #dfd8c8;
    color: #1c1819;
}

.colorsItem:checked + .colorsGrey {
    background-color: #c5c5c5;
    outline: 1px solid #c5c5c5;
    color: #1c1819;
}

.colorsBlue::before,
.colorsBeige::before,
.colorsGrey::before {
    content: '';
    display: block;
    width: 23px;
    height: 24px;
    border-radius: 4px;
}

.colorsBlue::before {
    background: #00458a;
}

.colorsBeige::before {
    background: #efe8d8;
}

.colorsGrey::before {
    background: #d4d4da;
}

.colorBlock {
    margin-bottom: 24px;
}

.sizeList label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    color: #2a81dd;
    outline: 1px solid #d6ecfb;
    cursor: pointer;
}

.sizeList input:checked + label {
    background-color: #d6ecfb;
    color: #1c1819;
}

.details {
    margin-bottom: 24px;
}

.detailsTitle,
.choiseSizeTitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

.detailsContent,
.choiseSizeContent {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
