
img {
    display: block;
}

html,
body {
    height: 100%;
    color: #1c1819;
}

body {
    font-family: 'Open Sans', sans-serif;

    /* background-color: #ff0; */
    display: grid;
    grid-template-rows: 1fr max-content;
}

footer {
    background-color: #1c1819;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    color: #fff;
    gap: 24px;
    margin: 0;
    overflow: hidden;
}

.modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(28, 24, 25, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .container {
    display: flex;
    gap: 24px;
    position: relative;
    padding: 56px;
    background-color: #fff;
    border-radius: 16px;
}

.mainPhotoImg {
    display: block;
    margin-bottom: 16px;
}

.otherPhotos {
    display: flex;
    max-width: 330px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.otherPhotos img {
    border-radius: 8px;
    cursor: pointer;
}

.otherPhotos img:hover {
    outline: 1px solid rgba(42, 129, 221, 0.5);
    filter: brightness(130%);
}

.imgActive {
    outline: 1px solid rgba(42, 129, 221, 1);
    pointer-events: none;
}

.closeModalBtn {
    padding: 0;
    position: absolute;
    background-color: #fff;
    border: none;
    right: 24px;
    top: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.closeModal:hover {
    filter: brightness(120%);
}

.closeModal img {
    display: block;
}

.orderInfo {
    width: 573px;
}

.productName {
    margin: 8px 0 8px;
    font-size: 20px;
    line-height: 32px;
}

.price {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    margin-bottom: 8px;
    letter-spacing: 0.3px;
}

.orderBtn {
    width: 134px;
    height: 36px;
    text-align: center;
    vertical-align: center;
    background-color: #2a81dd;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.balance {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
    gap: 2px;
}

.yourBalance {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 23px;
    background-color: #f0fafd;
    border-radius: 16px;
}

.text {
    vertical-align: center;
    align-content: centrer;
}

.yourBalanceText {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
    color: #888b94;
    display: flex;
}

.yourBalanceQuantity {
    height: 24px;
    color: #1c1819;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
}

.package {
    height: 41px;
}

.colorTitle {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 8px;
}

.colorList,
.sizeList,
.hotBtns {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.colorList input,
.sizeList input,
.hotBtns input {
    display: none;
}

.colorList label {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 12px 8px 8px;
    color: #2a81dd;
    cursor: pointer;
    border-radius: 8px;
    outline: 1px solid rgba(28, 24, 25, 0.1);
    position: relative;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
}

.colorsItem:checked + .colorsLabel {
    background-color: #d6ecfb;
    outline: 1px solid #d6ecfb;
    color: #1c1819;
}

.colorsBlue::before,
.colorsBeige::before,
.colorsGrey::before {
    content: '';
    display: block;
    width: 23px;
    height: 24px;
    border-radius: 4px;
}

.colorsBlue::before {
    background: #00458a;
}

.colorsBeige::before {
    background: #efe8d8;
}

.colorsGrey::before {
    background: #d4d4da;
}

.colorBlock {
    margin-bottom: 24px;
}

.sizeList label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    color: #2a81dd;
    outline: 1px solid rgba(28, 24, 25, 0.1);
    cursor: pointer;
}

.sizeList input:checked + label {
    background-color: #d6ecfb;
    outline: 1px solid #d6ecfb;
    color: #1c1819;
}

.details {
    margin-bottom: 24px;
}

.detailsTitle,
.choiseSizeTitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

.detailsContent,
.choiseSizeContent {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.choiseSize {
    margin-bottom: 12px;
}

.hide {
    display: none;
}

footer .socialMedia {
    padding: 8px;
    display: grid;
    gap: 8px;
}

footer .companyName {
    font-size: 16px;
    line-height: 24px;
}

footer .socialMediaLinks {
    display: flex;
    gap: 8px;
}

footer .contactUs {
    display: flex;
    gap: 32px;
}

footer .footer__text {
    font-size: 14px;
    line-height: 24px;
}

footer .contactUsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contactUsBtn button {
    background-color: #fff;
    padding: 8px;
    color: #2a81dd;
    width: 150px;
    height: 36px;
    font-size: 14px;
    text-align: center;

    /* opacity: 0.9; не могу понять откуда в фигме прозрачность */
    border-radius: 8px;
    cursor: pointer;
}

.main {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.navigation {
    padding: 32px;
    width: 248px;
    background-color: #fff;
}

.logoKolesa {
    height: 40px;
    margin-top: 8px;
    align-content: center;
}

.imgLogo {
    margin-bottom: 24px;
}

.navigationList {
    text-decoration: none;
    padding: 0;
}

.navigationList li {
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navigationList a {
    padding-left: 8px;
    color: #1c1819;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
}

.navigationList a:hover {
    background-color: #ddd;
    filter: brightness(150%);
}

.nav__active_li {
    border-left: 4px solid #2a81dd;
}

.nav__active_li a {
    padding-left: 4px;
}

.content {
    width: 100%;
    margin-right: 88px;
    overflow: hidden;
    overflow-y: hidden;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    height: 48px;
    margin-bottom: 24px;
}

.header .search {
    display: inline-flex;
    border-radius: 8px;
    padding: 8px;
    padding-left: 20px;
    background-color: #f2f2f3;
    align-items: center;
}

.header .search input[type='search'] {
    font-size: 18px;
    background-color: #f2f2f3;
    line-height: 28px;
}

.header .search-icon {
    margin-right: 10px;
    margin-top: 4px;
    order: -1;
}

.header .search-field {
    width: 300px;
    border: 0;
}

.header .search-field:focus {
    outline: none;
}

.header .search-field:focus + .search-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition-duration: 0.4s;
}

.profile {
    display: flex;
    gap: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.header .profile:hover {
    outline: 1px solid rgba(28, 24, 25, 0.1);
    filter: brightness(110%);
}

.profileContent {
    display: grid;
}

.navigation .profile {
    display: none;
    margin-top: 36px;
    margin-bottom: 36px;
    align-items: center;
}

.navigation .profileContent {
    font-weight: 600;
    font-size: 16px;
}

.userPhoto {
    border-radius: 50%;
}

.profileContent p {
    margin: 0;
}

.header .profileContent .userName {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2a81dd;
}

.header .profileContent .currentBalance {
    color: #1c1819;
    line-height: 20px;
    font-size: 12px;
}

.banner {
    width: 100%;
    border-radius: 8px;
    display: block;
    margin-bottom: 24px;
}

.actionBlocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    gap: 24px;
}

.actionBlocks .action {
    width: 306px;
    display: flex;
    gap: 16px;
    border-radius: 16px;
    padding-left: 24px;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.actionBlocks .take {
    background: #eff8eb;
}

.actionBlocks .howToTake {
    background: #fffae7;
}

.actionBlocks .donate {
    background: #e9f2fb;
}

.actionBlocks .actionText {
    font-weight: 600;
    font-size: 20px;
    color: #1c1819;
}

.actionBlocks .action:hover {
    background-color: #00f500;
}

.hotBtns label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 8px;
    padding: 8px 24px;
    color: #2a81dd;
    outline: 1px solid rgba(28, 24, 25, 0.1);
    cursor: pointer;
    white-space: nowrap;
}

.hotBtns {
    margin-bottom: 16px;
}

.hotBtns input:checked + label {
    background-color: #d6ecfb;
    outline: 1px solid #d6ecfb;
    color: #1c1819;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    margin-bottom: 64px;
}

.product {
    border-radius: 8px 8px 0 0;
}

.product:hover {
    box-shadow: 0 2px 10px 0 #1c18191a;
}

.product .goodImg {
    border-radius: 8px 8px 0 0;
}

.product .productPrice {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #2a81dd;
    margin-top: 0;
    margin-bottom: 8px;
}

.product .productInfo {
    width: 298px;
    padding: 16px;
}

.product .productName {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 24px;
    padding-right: 4px;
}

.product .sizes {
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
    margin-bottom: 32px;
}

.product .orderDiv {
    position: absolute;
    display: none;
    width: inherit;
    height: 44px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 0;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
}

.product .order {
    border-radius: 8px;
    width: 100%;
    background: #2a81dd;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    color: #fff;
    border: none;
    height: 44px;
    cursor: pointer;
}

.product .order:hover {
    filter: brightness(130%);
}

.product .order:active {
    outline: 1px solid rgba(28, 24, 25, 0.5);
}

.product:hover .orderDiv {
    display: block;
    margin-left: -16px;
    box-shadow: 0 2px 10px 0 #1c18191a;
}

.product .newProduct {
    width: 38px;
    height: 20px;
    position: absolute;
    margin-top: -36px;
    margin-left: 16px;
    background-color: #64bd38;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

* {
    /* outline: 1px solid red; */
}
