.actionBlocks {
    @include flex(0,space-around);

    flex-wrap: wrap;
    gap: 24px;

    &__item {
        @include flex(0 0 0 24px, flex-start, center);

        width: 306px;
        gap: 16px;
        border-radius: 16px;
        text-decoration: none;
        cursor: pointer;

        &--take {
            background: $take-points-bgc;
        }

        &--howToTake {
            background: $how-to-take-points-bgc;
        }

        &--donate {
            background: $donate-points-bgc;
        }

        &:hover {
            background-color: $action-bgc-toxic;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    .actionBlocks {
        &__item {
            width: 288px;
        }
    }
}

@media (max-width: 880px) {
    .actionBlocks {
        &__item {
            width: 100%;
        }

        &__text {
            font-size: 16px;
        }

        &__logo {
            height: 38px;
            width: 45px;
        }
    }
}
