@mixin flex($padding : 0, $justify-content : normal, $align-items : normal) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    padding: $padding;
}

.hide {
    display: none;
}

img {
    display: block;
}

html,
body {
    height: 100%;
    color: #1c1819;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 1fr max-content;
}
