
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    height: 48px;
    margin-bottom: 24px;
}

.header .search {
    display: inline-flex;
    border-radius: 8px;
    padding: 8px;
    padding-left: 20px;
    background-color: #f2f2f3;
    align-items: center;
}

.header .search input[type='search'] {
    font-size: 18px;
    background-color: #f2f2f3;
    line-height: 28px;
}

.header .search-icon {
    margin-right: 10px;
    margin-top: 4px;
    order: -1;
}

.header .search-field {
    width: 300px;
    border: 0;
}

.header .search-field:focus {
    outline: none;
}

.header .search-field:focus + .search-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition-duration: 0.4s;
}

.profile {
    display: flex;
    gap: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.header .profile:hover {
    outline: 1px solid rgba(28, 24, 25, 0.1);
    filter: brightness(110%);
}

.profileContent {
    display: grid;
}

.navigation .profile {
    display: none;
    margin-top: 36px;
    margin-bottom: 36px;
    align-items: center;
}

.navigation .profileContent {
    font-weight: 600;
    font-size: 16px;
}

.userPhoto {
    border-radius: 50%;
}

.profileContent p {
    margin: 0;
}

.header .profileContent .userName {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2a81dd;
}

.header .profileContent .currentBalance {
    color: #1c1819;
    line-height: 20px;
    font-size: 12px;
}
