@media (max-width: 1100px) {
    .content {
        margin-right: 24px;
    }

    .actionBlocks .action {
        width: 288px;
    }

    .goodImg {
        width: 312px;
        height: 312px;
    }

    .product .productInfo {
        width: 280px;
    }

    .header {
        padding-top: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 880px) {
    .actionBlocks .action {
        width: 100%;
    }

    .actionBlocks .actionText {
        font-size: 16px;
    }

    .actionLogo {
        height: 38px;
        width: 45px;
    }

    .goodImg {
        width: 212px;
        height: 212px;
    }

    .product .productInfo {
        width: 180px;
    }

    .search {
        width: 200px;
    }

    .header .search-field {
        width: 180px;
    }
}

@media (max-width: 680px) {
    .header .profile {
        display: none;
    }

    .goodImg {
        width: 312px;
        height: 312px;
    }

    .product .productInfo {
        width: 280px;
    }

    .main {
        padding-left: 24px;
    }
}

@media (max-width: 480px) {
    .header {
        padding-top: 24px;
    }
}
