
$white-primary: #fff;
$blue-primary: #2a81dd;
$footer-bgc: #1c1819;
$text-black: #1c1819;
$search-bgc:#f2f2f3;
$take-balls-bgc:#eff8eb;
$how-to-take-balls-bgc:#fffae7;
$donate-balls-bgc:#e9f2fb;
$action-bgc-toxic:#00f500;
$checked-tabs-color:#d6ecfb;
$box-shadow-color:#1c18191a;
$balance-bgc: #f0fafd;
$balance-text:#888b94;
$NEW-bgc:#64bd38;
$blue-label: #00458a;
$beige-label: #efe8d8;
$grey-label:#d4d4da;
