
$white-primary: #fff;
$blue-primary: #2a81dd;
$footer-bgc: #1c1819;
$text-black: #1c1819;
$search-bgc:#f2f2f3;
$take-balls-bgc:#eff8eb;
$how-to-take-balls-bgc:#fffae7;
$donate-balls-bgc:#e9f2fb;
$action-bgc-toxic:#00f500;
$checked-tabs-color:#d6ecfb;
